# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Simple Chatty Bot/*
!/Simple Chatty Bot/task/
/Simple Chatty Bot/task/*
!/Simple Chatty Bot/task/src/
!/Simple Chatty Bot/task/build.gradle
!/Simple Chatty Bot/task/build.gradle.kts

# Project exclude paths
/Topics/Overview of the basic program/Theory/out/
/Topics/Overview of the basic program/Theory/out/production/classes/
/Topics/Ranges/At least one/out/
/Topics/Ranges/At least one/out/production/classes/
/Topics/Ranges/Between two numbers/out/
/Topics/Ranges/Between two numbers/out/production/classes/
/Topics/Ranges/Check the value/out/
/Topics/Ranges/Check the value/out/production/classes/
/Topics/Ranges/Check the value (1)/out/
/Topics/Ranges/Check the value (1)/out/production/classes/
/Topics/Ranges/Not in range/out/
/Topics/Ranges/Not in range/out/production/classes/
/Topics/Ranges/Theory/out/
/Topics/Ranges/Theory/out/production/classes/
/Topics/Reading data with a readln/Check the input/out/
/Topics/Reading data with a readln/Check the input/out/production/classes/
/Topics/Reading data with a readln/Fix the input/out/
/Topics/Reading data with a readln/Fix the input/out/production/classes/
/Topics/Reading data with a readln/Invoke readLine()/out/
/Topics/Reading data with a readln/Invoke readLine()/out/production/classes/
/Topics/Reading data with a readln/Theory/out/
/Topics/Reading data with a readln/Theory/out/production/classes/
/Topics/Reading data with a readln/toDouble()/out/
/Topics/Reading data with a readln/toDouble()/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Relational operators/Check the value (1)/out/
/Topics/Relational operators/Check the value (1)/out/production/classes/
/Topics/Relational operators/Existing operators/out/
/Topics/Relational operators/Existing operators/out/production/classes/
/Topics/Relational operators/Groundhogs at the party/out/
/Topics/Relational operators/Groundhogs at the party/out/production/classes/
/Topics/Relational operators/Job offer/out/
/Topics/Relational operators/Job offer/out/production/classes/
/Topics/Relational operators/Theory/out/
/Topics/Relational operators/Theory/out/production/classes/
/Topics/Repeating blocks/Grades/out/
/Topics/Repeating blocks/Grades/out/production/classes/
/Topics/Repeating blocks/Increment in loop/out/
/Topics/Repeating blocks/Increment in loop/out/production/classes/
/Topics/Repeating blocks/Repeat by value/out/
/Topics/Repeating blocks/Repeat by value/out/production/classes/
/Topics/Repeating blocks/Theory/out/
/Topics/Repeating blocks/Theory/out/production/classes/
/Topics/String basics/Concatenation/out/
/Topics/String basics/Concatenation/out/production/classes/
/Topics/String basics/Correct ways to create a string/out/
/Topics/String basics/Correct ways to create a string/out/production/classes/
/Topics/String basics/JSON/out/
/Topics/String basics/JSON/out/production/classes/
/Topics/String basics/Theory/out/
/Topics/String basics/Theory/out/production/classes/
/Topics/String templates/Date and time formatting/out/
/Topics/String templates/Date and time formatting/out/production/classes/
/Topics/String templates/Print two numbers on the same line/out/
/Topics/String templates/Print two numbers on the same line/out/production/classes/
/Topics/String templates/String and its Int/out/
/Topics/String templates/String and its Int/out/production/classes/
/Topics/String templates/Templates for expressions/out/
/Topics/String templates/Templates for expressions/out/production/classes/
/Topics/String templates/Theory/out/
/Topics/String templates/Theory/out/production/classes/
/Topics/String templates/What are string templates/out/
/Topics/String templates/What are string templates/out/production/classes/
/Topics/Type conversion/Application/out/
/Topics/Type conversion/Application/out/production/classes/
/Topics/Type conversion/Overflow and crash/out/
/Topics/Type conversion/Overflow and crash/out/production/classes/
/Topics/Type conversion/Theory/out/
/Topics/Type conversion/Theory/out/production/classes/
/Topics/While loops/Bank interest calculation/out/
/Topics/While loops/Bank interest calculation/out/production/classes/
/Topics/While loops/Choose the correct ones/out/
/Topics/While loops/Choose the correct ones/out/production/classes/
/Topics/While loops/Collatz conjecture/out/
/Topics/While loops/Collatz conjecture/out/production/classes/
/Topics/While loops/The length of the sequence/out/
/Topics/While loops/The length of the sequence/out/production/classes/
/Topics/While loops/The sum of elements/out/
/Topics/While loops/The sum of elements/out/production/classes/
/Topics/While loops/Theory/out/
/Topics/While loops/Theory/out/production/classes/
/Topics/Working with strings/Correct operations/out/
/Topics/Working with strings/Correct operations/out/production/classes/
/Topics/Working with strings/Last symbol/out/
/Topics/Working with strings/Last symbol/out/production/classes/
/Topics/Working with strings/Name Card/out/
/Topics/Working with strings/Name Card/out/production/classes/
/Topics/Working with strings/Operations and truth/out/
/Topics/Working with strings/Operations and truth/out/production/classes/
/Topics/Working with strings/Theory/out/
/Topics/Working with strings/Theory/out/production/classes/